SECRET_KEY=<YOUR-SECRET-KEY>
ACCESS_TOKEN_EXPIRE_MINUTES=<YOUR-ACCESS-TOKEN-EXPIRE-MINUTES>
ALGORITHM=<YOUR-ALGORITHM>
MAILTRAP_USERNAME=<YOUR-MAILTRAP-USERNAME>
MAILTRAP_PASSWORD=<YOUR-MAILTRAP-PASSWORD>
MAILTRAP_EMAIL=<YOUR-MAILTRAP-EMAIL>
